body {
    background: var(--background);
    height: 100vh;
    display: grid;
    grid-template-columns: 11vh 1fr;
    font-family:Inter,system-ui,Segoe UI,Roboto,"Helvetica Neue",Arial; 
}

.connectionsOver {
    width: 100%;
    background: var(--background);
    display: grid;
    grid-template-columns: max-content 1fr 65%;
    overflow: hidden;

    .panel {
        height: 100%;
        width: 100%;
        padding: 5px;
        
        h2 {
            font-size: 20px;
            font-weight: 400;
        }
    }
    .connections_header {
        height: 100vh;
        width: max-content;
        background: var(--primary-color);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 10px;
        border-left: 2px solid rgba(0, 0, 0, 0.123);

        img {
            width: 30px;
            margin: 5px;
        }
        div:nth-child(2) {
            img {
               scale: .9; 
            }
        }
        div:hover {
            img {
                scale: 1.3;
            }
        }
    }
    .connections {
        width: 100%;
        display: grid;
        grid-template-rows: max-content calc(100vh - 10vh);
        gap: 10px;
        overflow: hidden;
        padding: 10px 10px 10px 20px;

        .connections_number {
            display: flex;
            gap: 10px;

            p {
                align-self: center;
                font-size: 20px;
                color: var(--accent);
            }
        }
        #connections_container, #REconnections_container, #VIconnections_container {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 5px 10px;

            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: rgba(128, 128, 128, 0.425) rgb(255, 255, 255);

            #connections_card, #REconnections_card, #VIconnections_card  {
                min-height: 60px;
                position: relative;
                align-content: center;
                border-bottom: 1px solid rgba(151, 151, 151, 0.24);
                display: grid;
                grid-template-columns: max-content 1fr;
                gap: 10px;

                #connections_img, #REconnections_img, #VIconnections_img{
                    background-image: url(https://i.ytimg.com/vi/BrXOiFAf84c/hqdefault.jpg?sqp=-oaymwEmCKgBEF5IWvKriqkDGQgBFQAAiEIYAdgBAeIBCggYEAIYBjgBQAE=&rs=AOn4CLBkUKhbqekt7RUVWianUHCOmLKjpA);
                    height: 40px;
                    width: 40px;
                    background-position: center;
                    background-size: cover;
                    border-radius: 100%;
                    place-self: center;
                }
                #connections_name, #REconnections_name, #VIconnections_name {
                    font-size: 16px;
                    font-weight: 500;
                }
                #connections_X, #REconnections_X, #VIconnections_X {
                    font-size: 14px;
                }
                .connections_btn {
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    height: 20px;
                    width: 20px;

                    background-image: url(https://cdn-icons-png.flaticon.com/128/10172/10172161.png);
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    }
}
.connections_previewC {
    background: var(--background);
    border: 1px solid rgba(0, 0, 0, 0.473);
    overflow-x: none;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(189, 189, 189, 0.589) var(--background);
    
    
    #preview_card {
        
        #preview_profile {
            position: relative;

            .preview_profile_info {
                position: absolute;
                top: 55%;
                left: 50%;
                transform: translate(-50% , 10%);
                text-align: center;

                img {
                    height: 150px;
                    width: 150px;
                    border-radius: 100%;
                    background-position: center;
                    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.459);
                }
                #preview_name {
                    font-size: 28px;
                    letter-spacing: 1px;
                }
                #preview_title {
                    font-size: 17px;
                    color: gray;
                    font-weight: 500;
                }
            }
            .userBG {
                width: 100%;
                height: 220px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;  
                box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.459);  
                filter: grayscale(20%) saturate(100%) contrast(-10%);                    
            }
        }
    }
    .preview_section {
        margin-top: 120px;
        height: calc(100% - 120px);
        width: 100%;
        padding: 20px;
        display: grid;
        gap: 10px;

        h1 {
            font-size: 15px;
            color: rgb(94, 94, 94);
            font-weight: normal;
            margin-bottom: 3px;
            margin-top: 20px;
        }
        #preview_about {
            border-top: 4px solid rgba(128, 128, 128, 0.411);

            .preview_actions {
                display: flex;
                gap: 15px;
                padding: 10px;
                border-bottom: 1px solid rgba(128, 128, 128, 0.582);

                div {
                    padding: 10px 15px;
                    background: #dbdfda;
                    border-radius: 20px;
                }
            }
            .user_post_container, .user_photo_container{
                height: max-content;
                display: grid;
                
                .user_post_card {
                    height: max-content;
                    display: grid;
                    grid-template-rows: max-content 1fr max-content;
                    border: 1px solid black;
                    border-radius: 20px;
                    padding: 10px;
                    max-height: 600px;
                    margin-bottom: 15px;

                    .user_info {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding-bottom: 10px;

                        .name {
                            font-weight: 500;
                        }
                        img {
                            height: 50px;
                            width: 50px;
                            border-radius: 100%;
                        }
                        .postspan {
                            font-weight: normal;
                            font-size: 12px;
                        }
                    }
                    .user_post {
                        border-top: 1px solid black;
                        border-bottom: 1px solid black;
                        min-height: 30px;

                        display: grid;
                        grid-template-rows: max-content 1fr;
                        
                        img {
                            max-height: 565px;
                            height: 80%;
                            width: 100%;
                        }
                        p {
                            padding: 5px;
                            word-break: break-all;
                            word-wrap: break-word;
                            overflow-y: hidden; 
                            text-overflow: ellipsis; 
     
                            display: -webkit-box; 
                            -webkit-line-clamp: 4; 
                            -webkit-box-orient: vertical; 
                        }
                        .expanded {
                            display: flex;
                            max-height: 2000px; /* A height large enough to show all content */
                            overflow: auto; /* Or just hidden if you don't want a scrollbar inside the container */
                        }
                    }
                    .user_interacions {
                        display: flex;
                        gap: 20px;
                        
                        padding-top: 10px;
                        padding-left: 5px;

                        img {
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
            }
        }
        #preview_personal_information {
            p strong {
                color: rgba(87, 87, 87, 0.877);
            }
        }
            #skills_section {
            ul {
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                li {
                    font-size: 14px;
                    padding: 5px 14px;
                    border-radius: 100px;

                    border:1px solid rgba(47,143,106,0.08);
                    box-shadow:0 6px 14px rgba(47,143,106,0.05)
                }
            }
        }
        .contact-row {
            display:flex;
            gap:8px;
            margin-top:12px;
        }
        .contact-btn {
            flex:1;
            padding:8px 10px;
            border-radius:10px;
            border:none;
            background:#dbdfda;
            cursor:pointer;
            font-weight:600;
            height: max-content;

            img {
                height: 15px;
                width: 20px;
            }
        }
        .contact-btn:nth-child(3) {
            flex: 0;
        }
        #contact_section {
            width: 100%;
           
            p {
                text-align: center;
                padding: 10px 0;
            }
            p:nth-child(1) {
                color: gray;
                padding: 0;
            }
        }
        
    }
}
.highlighted {
                background: #dbdbdbc4;
                border-left: 4px solid var(--primary-color);
            }