* {
    margin: 0;
    padding: 0;
}
body {
    background: var(--background);
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 10rem 1fr;

    header {
        grid-area: 1 / 1 / 2 / 3;
    }
    nav {
        grid-area: 2 / 1;
        height: calc(100vh - 10vh);
        width: 10rem;
        background: var(--primary-color);

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;

        a {
            font-size: 20px;
            text-decoration: none;
            color: black;
            padding: 20px;
        }
        a:hover {
            scale: 1.1;
            border-bottom: 1px solid var(--secondary-color);
        }
    }
    main {
        grid-area: 2 / 2;
        height: calc(100vh - 10vh);
        width: 100%;
        background: var(--background);
        display: grid;
        grid-template-columns: .8fr 1.2fr 5rem;

        .card_container {
            display: grid;
            grid-template-rows: repeat(auto-fill, minmax(110px, 1fr));
            padding: 5px;

            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: rgba(189, 189, 189, 0.589) var(--background);

            .profile_card {
                background: var(--background);
                padding: 10px;

                display: flex; 
                flex-direction: row;
                gap: 10px;
                position: relative;
                border: 1px solid rgba(200, 200, 200, 0.356);

                img {
                    height: 75px;
                    width: 75px;
                    border-radius: 5px;
                }
                h1 {
                    font-size: 20px;
                    color: var(--accent);
                }
                h2 {
                    font-size: 15px;
                    font-weight: normal;
                }
                button {
                    position: absolute;
                    right: 10px;
                    border: none;
                    outline: none;
                    background: none;

                    img {
                        height: 15px;
                        width: 15px;
                    }
                }
                #post_time {
                    font-size: 12px;
                    color: rgb(78, 78, 78);
                }
            }
            .profile_card:active {
                background: #dbdbdbc4;
                border-left: 2px solid black;
            }
        }
        .preview_container {
            background: var(--background);
            padding: 20px;
            border: 1px solid rgba(0, 0, 0, 0.473);
            
            .profile_preview {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                img {
                    height: 100px;
                    width: 100px;
                    border-radius: 100%;
                }
                #preview_name {
                    font-size: 30px;
                    font-weight: bold;
                } 
                #preview_title {
                    font-size: 20px;
                    color: rgb(49, 49, 49);
                    margin-top: -10px;
                }
                .preview_information {
                    align-self: start;

                    #preview {
                        font-size: 20px;
                        font-weight: bold;
                        color: rgba(0, 0, 0, 0.781);
                    }
                }
                #preview_description {
                    
                }
                .preview_skills {
                    align-self: start;

                    ul {
                        display: flex;
                        gap: 10px;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                    li {
                        list-style: none;
                        padding: 10px;
                        background: var(--accent);
                        border-radius: 20px;
                        text-align: center;
                    }
                }
            }
            
            
        }
    }
}