@media (max-width: 768px) {
    header {
        height: 60px;
        padding: 0 20px;

        section {
            display: none;
        }
        #login {
            margin-left: auto;
        }
    }
    .main {
        scroll-snap-type: none;
        height: 100%;
        display: grid;

        .home {
            height: 70dvh;
            
            header {
                section {
                    display: none;
                }
            }
            section {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px;

                #c {
                    font-size: 30px;
                    font-weight: normal;
                    translate: 0;
                    left: 0;
                    
                    span {
                        width: 70px;
                        background: black;
                    }
                    span:nth-child(2) {
                        left: 75px;
                        width: 45px;
                    }
                    span:nth-child(3) {
                        left: 125px;
                        width: 15px;
                    }
                    span:nth-child(4) {
                        left: 145px;
                        width: 5px;
                    }
                }
                #c::first-letter {
                    font-size: 45px;
                    color: var(--secondary-color);
                }
                p {
                    width: 90%;
                    font-size: 18px;
                }
            }

        }
        .features {
            height: max-content;
            display: flex;
            flex-direction: column;

            .features_intro {
                .features_intros {
                    width: 100%;
                }
            }
            .services-container {
                grid-template-rows: repeat(auto-fill, minmax(max-content, auto));
                grid-template-columns: 1fr;
                gap: 10px;
                padding: 10px 0;

                .service-card {
                    
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                }
                .service-card:hover {
                    scale: 1;
                }
            }
        }
        .guide {
            grid-template-rows: 20% 1fr;
            background: linear-gradient(var(--primary-color) 20%, var(--background) 50%);
            padding: 20px 0;
            height: 100%;
            
            section {
                flex-direction: column;
                gap: 15px;

                .guide_card {
                    width: 100%;
                    height: 140px;
                    grid-template-columns: 60px 1fr;
                    grid-template-rows: repeat(2,1fr);
                    place-content: center;
                    column-gap: 10px;
                    row-gap: 5px;
                    padding-left: 30px;

                    .card_number {
                        left: 0;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                    img {
                        grid-area: 1 / 1 / 3 / 2 ;
                        height: 50px;
                        z-index: 1;
                    }
                    h2 {
                        grid-area: 1 / 2;
                    }
                    p {
                        grid-area: 2 / 2;
                    }
                }
                .guide_card:hover {
                    scale: 1;
                }
            }
        }
        .browse {
            display: none;
        }
        .footer {
            display: none;
        }
    }
}