:root {
    --primary-color: #2E8B57;
    --secondary-color: #F4B400;
    --background: #FFFDF7;
    --text-dark: #3B2F2F;
    --text-light: rgb(255, 255, 255);
    --accent: #FF6F61;
    --link-highlights: #4FD1C5;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    height: 10vh;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 0 5vh 0 5vh;
    
    h2:first-letter {
        font-size: 2rem;
        color: var(--secondary-color);
        font-weight: 500;
    }
    section {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap: 5vh;
        
        a {
            text-decoration: none;
            color: var(--text-light);
            font-size: 1.1rem;
            letter-spacing: 1px;
        } 
        img {
            height: 25px;
            
        }
    }
    #login {
            text-decoration: none;
            background: var(--secondary-color);
            padding: 1vh;
            border-radius: 10px;
            color: var(--text-dark);
    }
}   