:root {
    --primary-color: #2E8B57;
    --secondary-color: #F4B400;
    --background: #FFFDF7;
    --text-dark: #3B2F2F;
    --text-light: rgb(255, 255, 255);
    --accent: #FF6F61;
    --link-highlights: #4FD1C5;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Inter,system-ui,Segoe UI,Roboto,"Helvetica Neue",Arial;
}
nav {
    grid-area: 1 / 1;
    height: 100vh;
    width: 11vh;
    background: var(--primary-color);
    z-index: 2;
    display: flex;
    flex-direction: column;

    transition: all .2s linear;

    section {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }
    section:nth-child(2) {
        margin-top: auto;
    }
    a, h2 {
        width: 100%;
        padding: 10px 15px;
        text-decoration: none;

        div {
            display: grid;
            grid-template-columns: 40px 1fr;
            place-items: center;
            text-align: left;
            gap: 10px;
            
            img {
                height: 25px;
                width: 25px;
                transition: all .01s linear;
            }

            p {
                width: 200px;
                font-size: 16px;
                color: black;
                display: none;
                transition: all .3s linear;
            }
        }    
    } 
    a:nth-child(2) {
        padding-top: 5px;
    }
    h2 {
        font-family: none;
        padding-left: 25px;
        font-size: 2rem;
        color: var(--secondary-color);
        font-weight: 500;
        display: flex;    

        p {
            font-size: 18px;
            padding-top: 10px;
            display: none;
            color: black;
            letter-spacing: 2px;
            padding-left: 2px;
        }
    }
    #user_info {
        padding-left: 20px;
        width: 100%;

        display: grid;
        grid-template-columns: 40px 1fr;

        #user_img {
            height: 30px;
            width: 30px;
            border-radius: 100%;
            background-position: center;
            position: relative;
        }
        #user_name {
            font-size: 15px;
            color: var(--text-light);
            font-weight: 400;
            align-self: center;
            display: none;
            width: 200px;
        }
    }
}
nav:hover {
    width: 30vh;
    transition: all .1s linear;
    
    a p, h2 p {
        display: block;
    }
    #user_info #user_name {
        display: block;
    }
    a:hover {
        img {
            filter: invert(1); 
        }
        p {
            color: #ffc933;
            padding-left: 7px;
            border-left: 1px solid yellow;
            transition: all .1s linear;
        }
    }
}
main {
    grid-area: 1 / 2;
    height: 100vh;
}
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    background: transparent;
    display: none;
}