* {
    margin: 0;
    padding: 0;
}
body {
    background: var(--background);
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 12rem 1fr;

    header {
        grid-area: 1 / 1 / 2 / 3;
    }
    nav {
        grid-area: 2 / 1;
        height: calc(100vh - 10vh);
        width: 12rem;
        background: var(--primary-color);

        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;

        a {
            font-size: 20px;
            text-decoration: none;
            color: black;
            padding: 20px;
        }
        a:hover {
            scale: 1.1;
            border-bottom: 1px solid var(--secondary-color);
        }
    }
    main {
        grid-area: 2 / 2;
        height: calc(100vh - 10vh);
        width: 100%;
        background: var(--background);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

        padding: 20px;
        gap: 20px   ;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-width: thin;

        .profile_card {
            height: 300px;
            width: 100%;
            background: var(--background);
            gap: 5px 0;

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto-fit);

            padding: 15px;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 10px 1px rgb(0, 0, 0);

            #profile_information {
                grid-area: 1 / 1;
                width: 110px;
                
                h1 { 
                    font-size: 20px;
                    word-break: break-word;
                }
                p {
                    padding: 0;
                    word-break: break-all;
                }
            }
          
            #description_label {
                grid-area: 2 / 1 / 2 / 3;
                text-align: justify;
            }
            img {
                grid-area: 1 / 2;
                height: 100px;
                place-self: center;
            }
            #skills_list {  
                grid-area: 3 / 1 / 3 / 4;
                padding-left: 20px;
                overflow: hidden;
                overflow-y: scroll;
                scrollbar-width: thin;
                
                section {
                    columns: 2;
                }
                p {
                    padding: 0;
                    margin-left: -20px;
                }
            }
        }
        .profile_card:hover {
            scale: 1.05;
            box-shadow: 0 0 10px 1px var(--secondary-color);
        }
    }
}